html, body {
    display: flex;
    margin: 0;
    background: #0F192A;
    overflow-x: hidden
}

p, h1, h2, h3, h4, h5 {color: white; font-family: Lato}

@media (max-width: 730px) {
    #hamburger {
        display: inline-block;
    }
    #dropdown {
        display: flex !important
    }
    #hamburger a {
        display: block;
    }
    #hamburger_dropdown {
        display: inline-block;
        z-index: 9;
    }
    header a {display: none;}

}

/*Hamburger Menu*/
#hamburger {cursor: pointer; margin-left: auto;}

#hamburger_dropdown.expand {display: flex; margin-left: auto}

#hamburger_dropdown.expand a {display: block; margin-right: 20px}

#dropdown {display: none; flex-direction: column}

#line1, #line2, #line3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

#hamburger_dropdown {
    display: none;
    height: 230px;
    flex-direction: column;
    margin-left: auto;
    background: #142539;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.25)
}

.expand #line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.expand #line2 {opacity: 0}

.expand #line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.run {
    background: #10cc5b;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 2px;
    font: 400 18px Lato;
    box-shadow: 3px 3px 5px black;
    margin-left: calc(100% - 107px);
    cursor: pointer;
}