html, body {
    display: flex;
    margin: 0;
    background: #0F192A;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

p, h1, h2, h3, h4, h5, ul, li {color: white; font-family: Lato}
pre {
    background: #1f2b40;
    border-radius: 5px;
    padding: 5px;
}
pre code {background: none !important; color: white;}

.run {
    background: #10cc5b;
    width: 100px;
    min-width: 100px;
    height: 50px;
    border: none;
    border-radius: 2px;
    font: 400 18px Lato;
    box-shadow: 3px 3px 5px black;
    margin-left: calc(100% - 107px);
    cursor: pointer;
}