#logo_text {
    font: 400 35px Lato;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: visible !important;
}

header {
    margin: 10px;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20px);
    height: 75px;
    flex-wrap: wrap;
}

.get_started {
    text-decoration: none;
    font: 400 20px Lato;
    color: white;
    border-radius: 10px;
    border: 3px solid #10cc5b;
    padding: 11px;
    background: none;
    transition: 0.5s
}

.get_started:hover {
    background: #10cc5b;
}

#front_page {
    display: flex;
    overflow: visible;
}

#left {
    width: calc(50vw - 40px);
    margin: 50px 0 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column
}

#right {
    width: calc(50vw - 40px);
    margin: 50px 40px 0 0;
    height: 100%;
}

#blurb {
    margin-left: 40px;
    color: white;
    font: 400 22px Lato;
    width: 85%;
    line-height: 30px
}

h1 {
    line-height: 45px
}

@media (max-width: 900px) {
    #front_page {flex-direction: column}
    #left {width: calc(100vw - 40px); margin-left: 20px}
    #right {width: calc(100vw - 40px);}
    .cm-s-theme.CodeMirror {
        width: 95vw !important
    }
    #run {
        top: calc(430px + max(250px, calc(100% / 2.7))) !important
    }

}

@media (max-width: 800px) {#run {top: calc(475px + max(250px, calc(100% / 2.7))) !important}}

@media (max-width: 695px) {#run {top: calc(510px + max(250px, calc(100% / 2.7))) !important}}

@media (max-width: 516px) {#run {top: calc(540px + max(250px, calc(100% / 2.7))) !important}}

@media (max-width: 471px) {#run {top: calc(570px + max(250px, calc(100% / 2.7))) !important}}

@media (max-width: 400px) {#left {margin-left: 0}}

#run {
    z-index: 7;
    position: absolute;
    right: 44px;
    top: calc(88px + max(250px, calc(100vh / 2.7)))
}

#buttons {
    margin: 40px 0 0 50px
}

.get_started_page {
    background: #10cc5b;
    width: 125px;
    font-size: 24px;
}

#learn_more_button {
    background: none;
    margin-left: 10px
}

#learn_more_button:hover {
    background: #10cc5b;
}

#learn_more {
    align-self: center;
    text-align: center;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.first_message h1 {
    font-size: 45px
}
.first_message p {
    font-size: 24px
}

#perks {
    display: flex;
    flex-direction: column;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px
}

.perk_row {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
}

.perk {
    width: 30%;
    background: #1f2b40;
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;
    transition: 0.5s;
    height: fit-content;
    height: -moz-fit-content;
    cursor: pointer;
}

.perk:hover {
    padding: 20px;
}

.perk img {
    height: 40px;
    width: 40px;
}

@media (max-width: 900px) {
    .perk_row {
        height: 400px;
    }
}

@media (max-width: 750px) {
    .perk_row {
        flex-direction: column;
        height: fit-content;
    }
    .perk {
        margin: 20px;
        width: 90%;
    }
    .perk:hover {
        padding: 30px;
        margin-left: 0
    }
}

@media (max-width: 760px) {
    #learn_more {
        margin-top: 200px
    }
}



