#logo_text {
    font: 400 35px Lato;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: visible !important;
}

header {
    margin: 0 10px 10px 10px;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20px);
    height: 75px;
    flex-wrap: wrap;
}

.get_started {
    text-decoration: none;
    font: 400 20px Lato;
    color: white;
    border-radius: 10px;
    border: 3px solid #10cc5b;
    padding: 11px;
    background: none;
    transition: 0.5s
}

.get_started:hover {
    background: #10cc5b;
}

#front_page {
    display: flex;
    overflow: visible;
}

#left {
    width: calc(50vw - 40px);
    margin: 50px 0 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column
}

#blurb {
    margin-left: 40px;
    color: white;
    font: 400 22px Lato;
    width: 85%;
    line-height: 30px
}

h1 {
    line-height: 45px
}

#right {
    width: calc(50vw - 40px);
    margin: 50px 40px 0 0;
    height: 100%;
    position: relative
}

#run {
    z-index: 7;
    position: absolute;
    top: auto;
    bottom: 55%;
    right: 1%;
    margin-left: 0;
}

#buttons {
    margin: 40px 0 0 50px;
    display: flex;
    flex-wrap: wrap
}

.get_started_page {
    background: #10cc5b;
    width: 125px;
    font-size: 24px;
    margin: 15px 10px 0 0
}

#learn_more_button {
    background: none;
}

#learn_more_button:hover {
    background: #10cc5b;
}

#learn_more {
    align-self: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    display: block;
    overflow: auto;
}

.first_message {
    text-align: center;
    width: 60%;
    margin: 0 0 100px 20%;
}

.first_message h1 {
    font-size: 45px;
    word-wrap: break-word;
}
.first_message p {
    font-size: 24px;
}

#perks {
    display: flex;
    flex-direction: column
}

.perk_row {
    display: flex;
    width: 80%;
    align-self: center;
    margin-bottom: 40px
}

.perk {
    width: calc(30vw * 0.8);
    background: #1f2b40;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    transition: 0.5s;
    height: fit-content;
    cursor: pointer;
    min-height: 220px;
    display: table-cell;
}

.perk p {width: calc(calc(30vw * 0.8) * 0.9); margin-left: calc(calc(calc(30vw * 0.8) * 0.9) * 0.01)}

.perk:hover {
    padding: 20px;
}

.perk img {
    height: 45px;
    width: 45px;
}

@media (max-width: 750px) {
    .perk:hover {
        padding: 30px;
        margin-left: 0
    }
}

@media (max-width: 850px) {
    .perk_row {flex-direction: column}
    .perk {
        margin-bottom: 40px;
        width: 80%;
        align-self: center;
    }
    .perk p {width: 80%; margin-left: 10%}
    .perk_row .perk:last-child {
        margin-bottom: 0
    }
}


@media (max-width: 900px) {
    #front_page {flex-direction: column}
    #left {width: calc(100vw - 40px); margin-left: 20px}
    #right {width: calc(100vw - 40px);}
    .cm-s-theme.CodeMirror {
        width: 95vw !important
    }
    #run {
        bottom: 50%;
    }
}



