#right {margin-left: auto; width: 50vw}

#left {
    margin: 30px 20px 0 40px;
    min-width: calc(50vw - 65px);
    max-width: calc(50vw - 65px);
    max-height: 85vh;
    line-height: 22px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#left::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

#left code, #lesson_page_mobile\" code {
    background: #616161;
    border-radius: 3px;
    padding: 2px;
}

.spacer {
    width: 50vw;
    height: 15px;
    background: #1f2b40;
    margin: 5px 0
}

.divide {
    border-left: 15px solid #1f2b40;
    height: 100vh;
    margin: 0 5px
}

.clear {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 3
}

#clear_mobile {display: none}

.next, #back_desktop.invalid, .next_mobile, #back_mobile.invalid {
    position: absolute;
    bottom: 8px;
    right: 52vw;
    z-index: 5;
    background: #0F192A;
    border: 2px solid #77b590;
    color: #999e9c;
    cursor: not-allowed;
}

.next.valid, #back_desktop, .next_mobile.valid, #back_mobile {
    background: #10cc5b;
    border: 2px solid #10cc5b;
    cursor: pointer;
    color: white;
    z-index: 5
}

.next_mobile {
    position: absolute;
    bottom: 8px;
    left: 118px;
    margin-left: 0;
}

#back_mobile {
    left: 8px
}

#back_desktop {right: calc(52vw + 120px) !important}

#notif_desktop {
    max-width: 300px;
    min-height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #0F192A;
    border: 3px solid #c517d1;
    display: none;
    z-index: 4;
    border-radius: 5px;
    font: 400 16px Lato;
    color: white;
    padding: 5px
}

#lessons {
    position: absolute;
    width: 300px;
    height: 97%;
    left: -310px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: #0F192A;
    border: 5px solid #314D67;
    border-radius: 3px;
    overflow: scroll;
    padding-top: 50px;
    z-index: 5;
}


#lessons.visible {
    animation: expand 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#lessons.invisible {
    animation: shrink 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes expand {
    from {left: -310px}

    to {left: 0}
}

@keyframes shrink {
    from {left: 0}

    to {left: -310px}
}

@keyframes expand_mobile {
    from {left: -95%}

    to {left: 0}
}

@keyframes shrink_mobile {
    from {left: 0}

    to {left: -95%}
}

.nav_lesson {
    width: 85%;
    height: 35px;
    min-height: 35px;
    font: 400 20px Lato;
    color: white;
    background: #1f2b40;
    margin: 10px 0;
    box-sizing: border-box;
    padding-top: 3px;
    text-align: center;
    border-radius: 2px;
    max-height: 80px;
    position: relative
}

.unavailable {
    cursor: not-allowed;
    border: 2px solid #77b590;
    color: #999e9c;
    pointer-events: none
}

.unavailable::after {
    content: "";
    display: block;
    background-image: url("images/lock.png");
    top: 0;
    bottom: 0;
    left: 0;
    right: 180px;
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 3px 0;
    pointer-events: none
}


.available {
    cursor: pointer;
    border: 2px solid #1DC116;
    pointer-events: all
}

h1 {
    line-height: 38px
}

#desktop {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mobile {
    left: 5000px;
    top: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

#open_lessons_mobile, .close_lessons, .open_lessons {
    position: absolute;
    height: 50px;
    width: 55px;
    border: none;
    background: #314D67;
    font: 400 30px Lato;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box
}

#open_lessons_mobile, .open_lessons {
    top: 0;
    left: 0;
    margin-right: 15px;
    z-index: 2
}

.close_lessons {
    top: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box
}

#tabs_mobile {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    min-width: 230px;
}

#tabs_mobile * {
    border: none;
    color: white;
    background: #0F192A;
    width: 100px;
    height: 50px;
    border-radius: 1px;
    font: 400 18px Lato;
    margin-right: 10px;
    cursor: pointer;
}

#tabs_mobile .selected {
    animation: select 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    color: #77b590;
}

#tabs_mobile .deselected {
    animation: deselect 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes select {
    from {
        border-bottom: 3px solid #0F192A;
    }

    to {
        border-bottom: 3px solid #10cc5b;
    }
}

@keyframes deselect {
    from {
        border-bottom: 3px solid #10cc5b;
    }

    to {
        border-bottom: 3px solid #0F192A;
    }
}

#lesson_page_mobile\" {
    margin: 50px 30px 30px 30px;
    line-height: 22px;
    font-size: 17px;
    overflow: scroll;
    height: calc(90vh - 60px);
    max-height: calc(90vh - 60px);
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#lesson_page_mobile\"::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

#lesson_page_mobile\" code {font-size: 14px}

#code_page_mobile {
    width: calc(100% - 40px);
    height: calc(100% - 75px);
    margin: 75px 30px 0 10px;
    display: flex;
    flex-direction: column;
}

#spacer_mobile {
    width: 104%
}

html {overflow: hidden}

@media (max-width: 900px) {
    #desktop {left: 5000px !important}
    #mobile {left: 0 !important}
    .unavailable::after {
        right: 250px
    }
    html {overflow-y: scroll !important}
    .open_lessons {
        padding-top: 0 !important;
    }

    #lessons {
        width: 90%;
        left: -95%;
    }

    .nav_lesson {
        width: 90%;
        border: none;
        padding-top: 5px
    }

    #lessons.visible {
        animation: expand_mobile 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    #lessons.invisible {
        animation: shrink_mobile 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

#jump_to_code {
    color: #1DC116;
    font: 400 22px Lato;
    cursor: pointer;
    text-align: center;
}

.button_container {
    display: flex;
    margin-left: calc(100% - 250px);
}

#button_container_mobile {
    margin-left: calc(100% - 200px);
}

.button_container .run {
    margin-left: 10px;
}