#right {margin-left: auto; width: 50vw}

#left {
    margin: 30px auto 0 40px;
    min-width: calc(50vw - 65px);
    max-width: calc(50vw - 65px);
    max-height: 85vh;
    line-height: 22px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#left::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

#left code, #page_lesson_mobile code {
    background: #616161;
    border-radius: 3px;
    padding: 2px;
}

.spacer {
    width: 50vw;
    height: 15px;
    background: #1f2b40;
    margin: 5px 0
}

.divide {
    border-left: 15px solid #1f2b40;
    height: 100vh;
    margin: 0 5px
}

.run {
    background: #10cc5b;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 2px;
    font: 400 18px Roboto;
    box-shadow: 3px 3px 5px black;
    margin-left: calc(100% - 107px);
    cursor: pointer;
}

#clear {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 3

}

.next_desktop, #back_desktop.invalid {
    position: absolute;
    bottom: 8px;
    right: 52vw;
    z-index: 3;
    background: #0F192A;
    border: 2px solid #77b590;
    color: #999e9c;
    cursor: not-allowed;
}

.next_desktop.valid, #back_desktop {
    background: #10cc5b;
    border: 2px solid #10cc5b;
    cursor: pointer;
    color: white
}

#back_desktop {right: calc(52vw + 120px) !important}

#notif_desktop {
    max-width: 300px;
    min-height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #0F192A;
    border: 3px solid #c517d1;
    display: none;
    z-index: 4;
    border-radius: 5px;
    font: 400 16px Roboto;
    color: white;
    padding: 5px
}

#open_lessons_desktop {
    color: white;
    height: 40px;
    width: 150px;
    border: 3px solid #77b590;
    position: absolute;
    top: 30px;
    right: 48%;
    transform: translate(-48%, -50%);
    text-align: center;
    border-radius: 3px;
    background: #0F192A;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font: 400 20px Roboto;
}

#lessons_desktop {
    position: absolute;
    width: 300px;
    height: 97%;
    left: -310px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: #0F192A;
    border: 5px solid #314D67;
    border-radius: 3px;
    overflow: scroll;
    padding-top: 8px
}


#lessons_desktop.expanding {
    animation: expand 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#lessons_desktop.shrinking {
    animation: shrink 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes expand {
    from {left: -310px}

    to {left: 0}
}

@keyframes shrink {
    from {left: 0}

    to {left: -310px}
}

.nav_lesson {
    width: 85%;
    height: 35px;
    min-height: 35px;
    font: 400 20px Roboto;
    color: white;
    background: #1f2b40;
    margin: 10px 0;
    box-sizing: border-box;
    padding-top: 3px;
    text-align: center;
    border-radius: 2px;
    max-height: 80px;
    position: relative
}

.unavailable {
    cursor: not-allowed;
    border: 2px solid #77b590;
    color: #999e9c;
}

.unavailable::after {
    content: "";
    display: block;
    background-image: url("images/lock.png");
    top: 0;
    bottom: 0;
    left: 0;
    right: 180px;
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 3px 0
}


.available {
    cursor: pointer;
    border: 2px solid #1DC116;
}

h1 {
    line-height: 38px
}

#desktop {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#mobile {
    left: 5000px;
    top: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    #desktop {left: 5000px}
    #mobile {left: 0}
    .unavailable::after {
        right: 250px
    }
    html {overflow: scroll !important}
}

#lessons_mobile {
    width: 100vw;
    height: 90vh;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    left: 0;
    top: 0;
    background: #314D67;
    padding: 30px 0 50px 0;
    z-index: 3;
    overflow: scroll;
}

#lessons_mobile.expanding {
    animation: show_lessons_mobile 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    display: flex;
}

#lessons_mobile.shrinking {
    animation: close_lessons_mobile 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    display: flex
}

#lessons_mobile .nav_lesson {
    min-height: 50px !important;
    font-size: 24px;
    padding-top: 8px;

}

@keyframes close_lessons_mobile {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1
    }
}

@keyframes show_lessons_mobile {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#open_lessons_mobile, #close_lessons_mobile {
    position: absolute;
    height: 50px;
    width: 50px;
    border: none;
    background: #314D67;
    font: 400 30px Roboto;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

#open_lessons_mobile {
    top: 0;
    left: 0;
    margin-right: 15px;
    z-index: 2
}

#close_lessons_mobile {
    top: 5px;
    right: -15px;
}

#tabs_mobile {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    min-width: 230px;
}

#tabs_mobile * {
    border: none;
    color: white;
    background: #0F192A;
    width: 100px;
    height: 50px;
    border-radius: 1px;
    font: 400 18px Roboto;
    margin-right: 10px;
    cursor: pointer;
}

#tabs_mobile .selected {
    animation: select 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#tabs_mobile .deselected {
    animation: deselect 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes select {
    from {
        border-bottom: 3px solid #0F192A;
    }

    to {
        border-bottom: 3px solid #10cc5b;
    }
}

@keyframes deselect {
    from {
        border-bottom: 3px solid #10cc5b;
    }

    to {
        border-bottom: 3px solid #0F192A;
    }
}

#page_lesson_mobile {
    margin: 50px 30px 30px 30px;
    line-height: 22px;
    font-size: 17px
}

#page_lesson_mobile code {font-size: 14px}

#page_code_mobile {
    width: calc(100% - 60px);
    height: calc(100% - 75px);
    margin: 75px 30px 0 30px;
}

html {overflow: hidden}
