<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ExplorePython</title>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/theme/midnight.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='theme_home.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/python/python.min.js" integrity="sha512-A0+B02KhL7qpmqYmzkvN1jMSj/SrBfPdkxuX/llMFJJQ3mSqTd9pk1Ppuo+WxvrHfEwlJ0lDhkk1Y7prJpcvsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script async src="https://arc.io/widget.min.js#DAoRpT6R"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="ExplorePython">
        <meta name="description" content="ExplorePython is a fun, interactive way to learn and explore the Python language. With bite sized mini-lessons and comprehension tests, using ExplorePython guarantees a lot of learning!">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/theme/midnight.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/python/python.min.js" integrity="sha512-A0+B02KhL7qpmqYmzkvN1jMSj/SrBfPdkxuX/llMFJJQ3mSqTd9pk1Ppuo+WxvrHfEwlJ0lDhkk1Y7prJpcvsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kit.fontawesome.com/17a232a608.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div id="logo_container">
                <p id="logo_text">ExplorePython</p>
            </div>
            <div id="links">
                <a href="/lessons" class="get_started">Get Started</a>
            </div>
        </header>
        <div id="front_page">
            <div id="left">
                <div id="blurb">
                    <h1>Learn Python, by writing Python.</h1>
                    Everyone knows that the best way to learn is by doing.
                    That's why ExplorePython provides an interactive experience with coding right in the browser to help
                    beginners explore the Python language.
                </div>
                <div id="buttons">
                    <a href="/lessons" class="get_started get_started_page" id="get_started">Get Started</a>
                    <a onclick="document.getElementById('scroll_to').scrollIntoView()" class="get_started get_started_page" id="learn_more_button">Learn More</a>
                </div>

            </div>
            <div id="right">
                <button id="run" class="run" onclick="runHome()">Run ❯</button>
            </div>
        </div>
        <div id="scroll_to"></div>
        <div id="learn_more">
            <div class="first_message">
                <h1>What is ExplorePython?</h1>
                <p>
                    ExplorePython is a fun, interactive way to learn and explore the Python language.
                    With bite sized mini-lessons on topics from variables to Object Oriented Programming,
                    ExplorePython provides the tools that every budding developer needs to succeed.
                    After each lesson, you'll get the chance to test your knowledge by writing and running
                    code relating to the topic you just learned.
                    You then have your solution evaluated on the spot before moving on.
                </p>
            </div>
            <div id="perks">
                <div class="perk_row">
                    <div class="perk">
                        <img src="{{ url_for('static', filename='icons/student_chalkboard.svg') }}" alt="file">
                        <h3>Self Paced</h3>
                        <p>
                            There are no deadlines or rushed assignments, everything is at your own speed. You can take
                            a break for weeks or finish it all in a day - there's never any pressure to be on a strict timeline.
                        </p>
                    </div>
                    <div class="perk">
                        <img src="{{ url_for('static', filename='icons/file.svg') }}" alt="file">
                        <h3>Bite-Sized Lessons</h3>
                        <p>
                            Instead of scrolling through mountains of text for every lesson, you can learn a new topic
                            in a matter of minutes from small, digestible lessons explaining the topic simply and concisely.
                        </p>
                    </div>
                    <div class="perk">
                        <img src="{{ url_for('static', filename='icons/student_pen.svg') }}" alt="file">
                        <h3>Comprehension Tests</h3>
                        <p>At the end of every lesson, you get to test out what you've learned. This helps with your
                            comprehension, retention, and lets you explore the Python language by continually practicing your skills.
                        </p>
                    </div>
                </div>
                <div class="perk_row">
                    <div class="perk">
                        <img src="{{ url_for('static', filename='icons/terminal.svg') }}" alt="file">
                        <h3>Everything Your Way</h3>
                        <p>
                            No structured assignments here, instead you'll be showing your knowledge with small projects,
                            where you're given a problem and have to find a solution using what you've just learned.
                            There's no pressure to do things a certain way, just however you're most comfortable.
                        </p>
                    </div>
                    <div class="perk">
                        <img src="{{ url_for('static', filename='icons/code.svg') }}" alt="file">
                        <h3>Instant Evaluation</h3>
                        <p>
                            When you finish writing your code for the lesson, there's no turn in button - just run and be done!
                            If it's correct, you'll be able to move on, and if not, you'll be told exactly what went wrong.
                            No waiting for instructor feedback, you get to move completely at your own speed.
                        </p>
                    </div>
                    <div class="perk">
                        <img src="{{ url_for('static', filename='icons/keyboard.svg') }}" alt="file">
                        <h3>Real Coding</h3>
                        <p>
                            Many introductory coding platforms solely teach programming concepts and ideas without
                            introducing real world applications or actual languages. ExplorePython
                            is built as a direct learning tool, where you can keep coding on your own after the course
                            is finished.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='lessons.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
<!--ExplorePython is an interactive, fun way to learn and explore the Python language.
                    With bite sized mini-lessons on topics from variables to Object Oriented Programming,
                    ExplorePython provides the tools that every budding developer needs to succeed.
                    After each lesson, you'll get the chance to test your knowledge by writing and running
                    code relating to the topic you just learned.
                    You then have your solution evaluated on the spot before moving on.-->