<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ExplorePython</title>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/theme/midnight.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='theme_home.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/python/python.min.js" integrity="sha512-A0+B02KhL7qpmqYmzkvN1jMSj/SrBfPdkxuX/llMFJJQ3mSqTd9pk1Ppuo+WxvrHfEwlJ0lDhkk1Y7prJpcvsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script async src="https://arc.io/widget.min.js#DAoRpT6R"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="ExplorePython">
        <meta name="description" content="ExplorePython is a fun, interactive way to learn and explore the Python language. With bite sized mini-lessons and comprehension tests, using ExplorePython guarantees a lot of learning!">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/theme/midnight.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/python/python.min.js" integrity="sha512-A0+B02KhL7qpmqYmzkvN1jMSj/SrBfPdkxuX/llMFJJQ3mSqTd9pk1Ppuo+WxvrHfEwlJ0lDhkk1Y7prJpcvsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <header>
            <div id="logo_container">
                <p id="logo_text">ExplorePython</p>
            </div>
            <div id="links">
                <a href="/lessons" class="get_started">Get Started</a>
            </div>
        </header>
        <div id="page">
            <div id="left">
                <div id="blurb">
                    <h1>Learn Python, by writing python.</h1>
                    Everyone knows that the best way to learn is by doing.
                    That's why ExplorePython provides an interactive experience to help beginners explore the Python language.
                </div>
                <a href="/lessons" class="get_started" id="get_started">Get Started</a>
            </div>
            <div id="right"></div>
        </div>
    <button id="run" class="run" onclick="runHome()">Run ❯</button>
    </body>
    <script src="{{ url_for('static', filename='lessons.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
<!--ExplorePython is an interactive, fun way to learn and explore the Python language.
                    With bite sized mini-lessons on topics from variables to Object Oriented Programming,
                    ExplorePython provides the tools that every budding developer needs to succeed.
                    After each lesson, you'll get the chance to test your knowledge by writing and running
                    code relating to the topic you just learned.
                    You then have your solution evaluated on the spot before moving on.-->