<!DOCTYPE html>
<html lang="en">
    <head>
        <script>console.log(`first_last_lesson: ${localStorage.getItem("last_lesson")}`)</script>
        <title>Compiler</title>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='lessons.css') }}" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/theme/midnight.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/python/python.min.js" integrity="sha512-A0+B02KhL7qpmqYmzkvN1jMSj/SrBfPdkxuX/llMFJJQ3mSqTd9pk1Ppuo+WxvrHfEwlJ0lDhkk1Y7prJpcvsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <script async src="https://arc.io/widget.min.js#DAoRpT6R"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="ExplorePython">
        <meta name="description" content="ExplorePython is a fun, interactive way to learn and explore the Python language. With bite sized mini-lessons and comprehension tests, using ExplorePython guarantees a lot of learning!">
    </head>
    <script src="{{ url_for('static', filename='lessons.js') }}"></script>
    <script>
        if (!localStorage.getItem('lesson')) {localStorage.setItem('lesson', 'intro')}
        if (!localStorage.getItem('last_lesson')) {localStorage.setItem('last_lesson', 'intro')}
        console.log(`first_last_lesson: ${localStorage.getItem("last_lesson")}`)
        createDesktop()
    </script>
    <body>
        <div id="notif_desktop"></div>
        <div id="lessons">
            <div class="close_lessons" onclick="hideLessons()">✕</div>
        </div>
        <div id="desktop">
            <div id="open_lessons_desktop" class="open_lessons" onclick="showLessons()">☰</div>
            <button id="clear_desktop" class="run clear" onclick="changeShell('desktop', '>>> ')">Clear</button>
            <div id="left"></div>
            <div class="divide"></div>
            <div id="right"></div>
            <button id="next_desktop" class="run next" onclick="changeLesson('next', 'mobile')">Next</button>
            <button id="back_desktop" class="run next" onclick="changeLesson('back', 'mobile')">Back</button>
        </div>
        <div id="mobile">
            <header>
                <button id="open_lessons_mobile" class="open_lessons" onclick="showLessons()">☰</button>
                <div id="tabs_mobile">
                    <button class="tab selected" id="tab_mobile_lesson" onclick="switchTab('lesson')">Lesson</button>
                    <button class="tab" id="tab_mobile_code" onclick="switchTab('code')">Code</button>
                </div>
            </header>
            <button id="clear_mobile" class="run clear" onclick="changeShell('mobile', '>>> ')">Clear</button>
            <button id="next_mobile" class="run next_mobile" onclick="changeLesson('next', 'mobile')">Next</button>
            <button id="back_mobile" class="run next_mobile" onclick="changeLesson('back', 'mobile')">Back</button>
            <div id=lesson_page_mobile"></div>
            <div id="code_page_mobile"></div>
        </div>
    </body>
</html>